#dream{
    background: red;
    color: white;
}
#hred{
    color: red;
    width: 400px;
}
#cric{
    margin-top: -37px;
    margin-left: 119px;
    color :white;
}
#hocky{
    margin-top: -37px;
    margin-left: 207px;
    color: white;
}
#selva{
   color:white;
   margin-left: 300px;
   margin-top: -37px;
    
}
#help{
    color: white;
    margin-left: 400px;
    margin-top: -37px;
}

    